* {
    font-family: 'Times New Roman', Times, serif
}

h1 {
    margin: 10px;
    margin-top: -10px;
    margin-bottom: 40px;
}

.text {
    text-align: center;
    padding: 10px;
}

.wrap {
    background-color: antiquewhite;
    padding: 50px;
    margin: 25px;
}

#input {
    height: 20px;
    width: 350px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 0 black, 0 -1px black, 0 1px black, -1px 0 black;
    margin-bottom: 5px;
}

#submit, #again{
    height: 24px;
    width: 75px;
    border-radius: 10px;
    border: 20px;
    margin-top: 15px;
    background-color: pink;
}

#submit {
    margin-right: 5px;
}

#again {
    width: 90px;
}

#submit:hover, #again:hover {
    background-color: white;
    box-shadow: 1px 0 black, 0 -1px black, 0 1px black, -1px 0 black;
    transition: 0.5s;
    cursor: pointer;
}